.map1 {
	height: 100vh;
	width: 100%;
}

#describe {
  width:350px;
  
  
}

#describe .geona {
  display: block;
   margin: 0 0 10px;
   font-size: 120%;
   font-weight: 700;
  text-align:center;
}


#describe .contacts {
    list-style-type:none;
    font:FontAwesome;
    font-size: 40 px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    border-bottom: 1px solid grey;
    margin:10px 10px 10px;
    padding-bottom: 10px;
    
  }
#describe img {
    display: block;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius:10px;
}